{
  "root": true,
  "globals": {
    "getApp": false,
    "getCurrentPages": false,
    "Page": false,
    "Component": false,
    "App": false,
    "wx": false,
    "Behavior": false
  },
  "extends": ["@vant"],
  "rules": {
    "@typescript-eslint/no-unused-vars": 0,
    "no-unused-vars": 0
  }
}
